header{
    background-color: #BBBBBB;
    padding: 20px 0px ;
}
.caja{
    position: relative;/* relativa a la posicion absoluta definida enteriormente*/  
    width: 940px; /* Cuanto ocupa nuestra class caja? 940pixeles porque generalmente las pantallas tienen mas de 1240 pix. */
    margin: auto; /* se calcula automatico según la resolucion del usuario para no generar problemas*/
    
}

nav{
    position: absolute;
    top: 110px;
    right: 0px;

}
nav li{
    display: inline; /* Lista ordenada horizontalmente*/
    margin:0 0 0 15px; /* Separacion de los elementos de la lista y posicionamiento*/
}
nav a{
    text-transform: uppercase;/*transformar a mayusculas*/
    color: #000000;
    font-weight: bold;/*grosor de la fuente*/
    font-size: 22px;
    text-decoration: none;/*quitamos la decoracion por defecto en los links*/
}
nav a:hover{/* : hover captura el movimiento de mouse cuando pasa por encima de nav*/
    color: #c78c19;
    text-decoration: underline;
}
.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}
.productos li{
   display: inline-block;
   text-align: center;
   width: 30% ; /*Que cada elemento de la lista ocupe el 30% del espacio*/
   vertical-align: top;
   background-color: #BBBBBB;
   margin: 0 1.5%; /*margen vertica = 0; margen laterar 1.5% para separar equitativamente los elementos*/
   padding: 30px 20px; 
   box-sizing: border-box; /*Propiedad para contabilizar el padding dentro del porcentaje definido de width y evitar que se desacomoden los elemetos*/
   
   border: 2px solid black ;
   border-radius: 10px; /* 25px 24px 51px*/ 
}
.productos h2{
    font-size: 30px;
    font-weight: bold;
}

.producto-descripcion{
    font-size: 18px;
}
.producto-precio{
    font-size: 20px ;
    font-weight: bold;
    margin-top: 10px;
}
.productos li:hover{
    border-color: #c78c19;
        
}
.productos li:active{/*De manera similar a :hover, :active captura el evento de hacer click sobre el elemento*/
    border-color: #088c19;

}
.productos li:hover h2{/*Para afectar a h2 con los titulos y a la li de productos con sus imagenes*/
    font-size: 33px;
}
footer{
    text-align: center;
    background: url(imagenes/bg.jpg);/*La propiedad background con la opcion "url" nos permite importar una
    imagen para usar de fondo, esta imagen se repetira a lo largo de todo el espacio determinado para el footer*/
    padding: 40px;
}
.copyrigth{
    color: white;
    font-size: 13px;
    margin: 20px;
}